<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TRACTION Toolset</title>
    <link rel="icon" type="image/x-icon" href="{{ absURL "images/favicon.png" }}">

    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />

    <script src="{{ absURL "scripts/navbar_menu.js" }}"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="{{ (resources.Get "styles/style.sass" | resources.ToCSS).Permalink }}" />
  </head>
  <body>
    {{ partial "menu.html" . }}

    {{ if .IsHome }}
      {{ block "hero" . }}{{ end }}
    {{ end }}

    <section class="section">
      <div class="container">
        {{ if not .IsHome }}
          <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
              <li><a href="{{ relURL "/" }}">Home</a></li>
              <li class="is-active"><a href="#" aria-current="page">{{ .Title }}</a></li>
            </ul>
          </nav>
        {{ end }}

        {{ block "main" . }}{{ end }}
      </div>
    </section>
  </body>
</html>
