<div>
  <hr/>

  <div class="columns">
    <div class="column is-2 is-flex license-logos">
      <img class="mr-2" src="images/eulogo.png" />
      <img src="images/traction_logo.png" />
    </div>

    <div class="column is-10">
      <em>The toolset was originally developed as part of the <a href="https://traction-project.eu/">TRACTION</a> project, funded by the European Commission's <a href="http://ec.europa.eu/programmes/horizon2020/">Horizon 2020</a> research and innovation programme under grant agreement No. 870610.</em>
    </div>
  </div>

  <div class="mt-4">
    <h2 class="is-6 has-text-weight-bold">License and authors</h2>
    <p>All code and documentation is licensed by the original authors and contributors under the licenses found in the repositories linked on the top menu.</p>
  </div>
</div>
