{{ define "hero" }}
  <section class="hero is-small is-hero-background">
    <div class="hero-body">
      <section class="section">
        <div class="container">
          <p class="title">
            TRACTION Toolset
          </p>
          <p class="subtitle">
            The complete toolset developed for the TRACTION project
          </p>
        </div>
      </section>
    </div>
  </section>
{{ end }}

{{ define "main" }}
  <div class="content">
    {{ .Content }}
  </div>

  {{ partial "license.html" . }}
{{ end }}
