{{ $video := .Get 0 }}
{{ $centered := .Get 1 }}

{{ if eq $centered "centered" }}
    <div class="youtube-container" style="float:none; margin-left: auto; margin-right:auto;">
        <iframe src="https://www.youtube.com/embed/{{ $video }}" title="youtube video" frameborder="0" allowFullscreen></iframe>
    </div>
{{ else }}
    <div class="youtube-container">
        <iframe src="https://www.youtube.com/embed/{{ $video }}" title="youtube video" frameborder="0" allowFullscreen></iframe>
    </div>
{{ end }}
